<div class="container">
    <h1 class="display-2 text-center">Available Jobs</h1>
    <br>
    <form>
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Search" ng-model="vm.search">
        </div>
        <div class="col">
            <a type="btn btn-primary" ng-href="/createjob" class="form-control btn btn-primary mb-2"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Job</a>
        </div>
        </div>
    </form>
    <br>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Ministry Name</th>
                    <th scope="col">Organisation Name</th>
                    <th scope="col">Position</th>
                    <th scope="col">Apply By</th>
                    <th scope="col">Location</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="job in vm.jobs | filter:vm.search">
                    <td>{{ job.ministryName }}</td>
                    <td>{{ job.orgName }}</td>
                    <td>{{ job.position }}</td>
                    <td>{{ job.applyBy }}</td>
                    <td>{{ job.location }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>